<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Recursos Humanos GTICS</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
        crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Pagina Principal</a>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav ">
        <a class="btn btn-outline-success me-2" type="button" href="#">Tecnicos</a>
        <a class="btn btn-outline-success me-2" type="button" href="#">Estadisticas-Sitios</a>
      </div>
    </div>
  </div>
</nav>
<main>
  <div class="row mb-4">
    <div class="col-md-6 offset-md-3">
      <h2 th:text="${technician.id==0? 'Nuevo Tecnico':'Editar Tecnico'}">Editar Tecnico</h2>
      <hr/>
      <div class="alert alert-danger" role="alert" th:if="${msg != null}" th:text="${msg}">
        A simple success alert—check it out!
      </div>
      <form method="post" th:action="@{'/technician/save'}" th:object="${product}">
        <input th:field="*{id}" type="hidden"/>
        <div class="mb-3">
          <label class="form-label">Nombre del Producto</label>
          <input th:field="*{productname}" type="text" class="form-control"
                 th:classappend="${#fields.hasErrors('productname')?'is-invalid':''}"/>
          <div id="validationServer03Feedback" class="invalid-feedback"
               th:if="${#fields.hasErrors('productname')}" th:errors="*{productname}">
            Mensaje de error de productName
          </div>
        </div>
        <div class="mb-3">
          <label class="form-label">Proveedor</label>
          <select class="form-select" name="supplier" th:field="*{supplier}">
            <option th:each="supplier : ${listaProveedores}" th:value="${supplier.id}"
                    th:text="${supplier.companyname}"></option>
          </select>
        </div>
        <div class="mb-3">
          <label class="form-label">Categoría</label>
          <select class="form-select" name="category" th:field="*{category}">
            <option th:each="categoria : ${listaCategorias}" th:value="${categoria.id}"
                    th:text="${categoria.categoryname}"></option>
          </select>
        </div>
        <div class="mb-3">
          <label class="form-label">Cantidad por unidad</label>
          <input th:field="*{quantityperunit}" type="text" class="form-control"/>
        </div>
        <div class="mb-3">
          <label class="form-label">Precio unitario</label>
          <input th:field="*{unitprice}" type="text" th:class="${#fields.hasErrors('unitprice')?'form-control is-invalid':'form-control'}"/>
          <div class="invalid-feedback"
               th:if="${#fields.hasErrors('unitprice')}" th:errors="*{unitprice}">
            Mensaje de error de productName
          </div>
        </div>
        <div class="mb-3">
          <label class="form-label">Unidades en stock</label>
          <input th:field="*{unitsinstock}" type="number" th:class="${#fields.hasErrors('unitsinstock')?'form-control is-invalid':'form-control'}"/>
          <div class="invalid-feedback"
               th:if="${#fields.hasErrors('unitsinstock')}" th:errors="*{unitsinstock}">
            Mensaje de error de productName
          </div>
        </div>
        <div class="mb-3">
          <label class="form-label">Unidades ordenadas</label>
          <input th:field="*{unitsonorder}" type="number" th:class="${#fields.hasErrors('unitsonorder')?'form-control is-invalid':'form-control'}"/>
          <div class="invalid-feedback"
               th:if="${#fields.hasErrors('unitsonorder')}" th:errors="*{unitsonorder}">
            Mensaje de error de productName
          </div>
        </div>
        <div class="mb-3">
          <label class="form-label">Nivel de reorden</label>
          <input th:field="*{reorderlevel}" type="number" class="form-control"/>
        </div>
        <div class="form-check pb-2">
          <input th:checked="*{discontinued}" class="form-check-input" type="checkbox"
                 name="discontinued">
          <label class="form-check-label">¿Descontinuado?</label>
        </div>
        <a th:href="@{'/product'}" class="btn btn-danger">Cancelar</a>
        <button type="submit" class="btn btn-primary"
                th:text="${product.id==0? 'Guardar':'Actualizar'}">Actualizar
        </button>
      </form>
    </div>
  </div>
</main>





<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
</body>
</html>